@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    overflow-x: hidden;
    font-size: 1em;
}

body {
    background: #ffffff;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.5);
}

.probootstrap-image {
    background-image: url(/static/img/bg.jpeg);
}

/***** 메뉴 *****/
#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 300;
    /*font-family: 'Montserrat';*/
    webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    position : absolute;
    background-image: url(/static/img/header-bg.jpeg);
}

#mainNav a {
    color: #666666;
}

#mainNav .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
}

/*#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #000;
  }*/

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #000000;
    /*background: #173F5F;*/
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #000000;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #fff;
}

/*#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
    background-color:#000;
  }*/

@media (min-width: 992px) {
    #mainNav {
        /*    padding-top: 1.5rem;
      padding-bottom: 1.5rem; */
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        position: absolute;
    }

    #mainNav .navbar-brand {
        font-size: 2em;
        -webkit-transition: font-size 0.3s;
        -moz-transition: font-size 0.3s;
        transition: font-size 0.3s;
    }

    #mainNav .navbar-nav {
        margin-top: 0;
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
        color: #fff;
        background: #000000;
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        color: #fff;
        background: #000000;
    }

    /*  #mainNav.navbar-shrink {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }*/
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

#logoImg {
    width : 65px;

}
/***** 메뉴 끝 *****/

/***** 공통 *****/
.basic_container {
    margin-top: 120px;
}

/***** 공통 끝 *****/

/***** index 인덱스 *****/
#indexSection {
    margin-top: 90px;
    padding: 10rem 0 6rem 0;
}

#introduction {
    padding-left: 30px;
    font-size: 30px;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    color : #000;
}

.heading {
        font-family: 'Roboto', sans-serif;
}

.intro {
    color : #000;
    /*font-family: 'Noto Sans KR', sans-serif;*/
    font-weight:300;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #000;
    display: none;
}

#loadingImg {
    position: absolute;
    left: 45%;
    top: 50%;
    z-index: 120;
}

/*#counselModal {*/
/*z-index:100;*/
/*}*/

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #5a6268;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    color: #B94A48;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

.flex, .probootstrap-section-half, .probootstrap-section-half .probootstrap-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    /*z-index: 9999;*/
}

.probootstrap-section-half:last-child .probootstrap-text {
    border-bottom: none;
}

.probootstrap-section-half .probootstrap-image, .probootstrap-section-half .probootstrap-text {
    height: 100vh;
    width: 50%;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

@media screen and (max-width: 768px) {
    .probootstrap-section-half .probootstrap-image, .probootstrap-section-half .probootstrap-text {
        height: inherit;
        padding: 2em 0;
        width: 100%;
    }
}

.probootstrap-section-half .probootstrap-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .probootstrap-section-half .probootstrap-image {
        height: 400px;
        padding: 0;
    }
}

.probootstrap-section-half .probootstrap-text {
    border-bottom: 1px solid #f2f2f2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.probootstrap-section-half .probootstrap-text > .probootstrap-inner {
    -ms-flex-item-align: center;
    align-self: center;
    max-width: 500px;
    padding: 30px;
}

.probootstrap-section-half:hover .probootstrap-image, .probootstrap-section-half:focus .probootstrap-image {
    width: 48%;
}

@media screen and (max-width: 768px) {
    .probootstrap-section-half:hover .probootstrap-image, .probootstrap-section-half:focus .probootstrap-image {
        width: 100%;
    }
}

.probootstrap-section-half:hover .probootstrap-text, .probootstrap-section-half:focus .probootstrap-text {
    width: 52%;
}

@media screen and (max-width: 768px) {
    .probootstrap-section-half:hover .probootstrap-text, .probootstrap-section-half:focus .probootstrap-text {
        width: 100%;
    }
}

.probootstrap-section-half.probootstrap-reverse .probootstrap-image {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

@media screen and (max-width: 768px) {
    .probootstrap-section-half.probootstrap-reverse .probootstrap-image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}

.probootstrap-section-half.probootstrap-reverse .probootstrap-text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

@media screen and (max-width: 768px) {
    .probootstrap-section-half.probootstrap-reverse .probootstrap-text {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

.probootstrap-section-half.probootstrap-no-hover .probootstrap-image, .probootstrap-section-half.probootstrap-no-hover .probootstrap-text {
    width: 50% !important;
}

@media screen and (max-width: 768px) {
    .probootstrap-section-half.probootstrap-no-hover .probootstrap-image, .probootstrap-section-half.probootstrap-no-hover .probootstrap-text {
        width: 100% !important;
    }
}

/*#counselForm {*/
/*    margin : 1rem;*/
/*    width:500px;*/
/*}*/

/***** index 인덱스 끝 *****/

/***** qna.html *****/
#qna_section {
    border: 1px solid #5a6268;
    padding: 20px 30px;
    color : #000000;
}

#a_section {
    padding-top: 5px;
}

.title {
    font-size: 20px;
}

.contents {
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.7;
}

/***** qna.html 끝 *****/

/***** mobum.html *****/
.card {
    margin-bottom: 10px;
}

.card-header {
    background-color: #BDD0D1;
}

.card-header > a:link,
.card-header > a:visited {
    color: #000;
    font-size: 16px;
    padding: 8px 10px 8px 6px;
}

.answer-body > .list-group > .list-group-item > .leftText > a:link,
.answer-body > .list-group > .list-group-item > .leftText > a:visited {
    color: #000;
    font-size: 13px;
    padding: 8px 10px 8px 6px;
}

.card-header > a:hover,
.card-header > a:active {
    color: #283e42;
    font-size: 16px;
    padding: 8px 10px 8px 6px;
    text-decoration: none;
}

.answer-body > .list-group > .list-group-item > .leftText > a:hover,
.answer-body > .list-group > .list-group-item > .leftText > a:active {
    color: #283e42;
    text-decoration: none;
    font-size: 13px;
    padding: 8px 10px 8px 6px;
}

.rightText {
    float: right;
    font-size: 13px;
}

.leftText {
    float: left;
}

/***** mobum.html 끝 *****/

/***** result.html *****/
.realTime {
    margin-right: 8px;
}

/***** result.html 끝 *****/

/**** 404 에러 핸들링 ****/
#notfound {
    /*position: relative;*/
    /*height: 100vh;*/
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.notfound .notfound-404 {
    position: relative;
    height: 240px;
}

.notfound .notfound-404 h1 {
    /*font-family: 'Montserrat', sans-serif;*/
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 252px;
    font-weight: 900;
    margin: 0px;
    color: #262626;
    text-transform: uppercase;
    letter-spacing: -40px;
    margin-left: -20px;
}

.notfound .notfound-404 h1 > span {
    text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #262626;
    margin: 0px;
    letter-spacing: 3px;
    padding-left: 6px;
}

.notfound h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
    margin-top: 0px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 200px;
    }

    .notfound .notfound-404 h1 {
        font-size: 200px;
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 162px;
    }

    .notfound .notfound-404 h1 {
        font-size: 162px;
        height: 150px;
        line-height: 162px;
    }

    .notfound h2 {
        font-size: 16px;
    }
}

#notfoundEx {
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #262626;
    margin: 0px;
    letter-spacing: 3px;
    padding-left: 6px;
}

/**** 404 에러 핸들링 끝 ****/

/**** 그래프 페이지 *****/

nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e74c3c ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #e74c3c;
    border-bottom:5px solid #e74c3c;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #e74c3c;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
/***** 그래프 끝 *****/