<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1><span>5</span><span>0</span><span>0</span></h1>
			</div>
				<h3>요청사항을 수행할 수 없습니다.</h3>
            <h2>메인 페이지로 가시려면 <a href="/">여기</a>를 눌러주세요.</h2>
		</div>
	</div>
    <div id="notfoundEx">
    </div>
</body>
</html>
