<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ISAC</title>
</head>

<body style="background-image: url('/static/img/newww.jpg')">
    {% include 'menu.html' %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3" id="introduction">
                        킹갓제너럴아이작
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <div class="d-flex justify-content-center">
                        <div class="searchbar">
                            <input class="search_input" type="text" name="" placeholder="Search..."> 상담을 시작합니다.
                            <a href="/result" class="search_icon"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>

</html>