<div class="accordion" id="accordionCard">
    <div class="row">
        <div class="card w-100">
            <h5 class="card-header" id="mobumHeading">
                <a data-toggle="collapse" data-target="#mobumAnswer" aria-expanded="true" aria-controls="mobumAnswer" href="#mobumAnswer">관련 상담 조회</a>
            </h5>
            <div id="mobumAnswer" class="answer-body collapse show" aria-labelledby="mobumHeading"
                 data-parent="#accordionCard">
                <ul class="list-group list-group-flush">
                {% for id, title, usado in mobumList %}
                    <li class="list-group-item">
                        <span class="leftText"><a href="{{ '/mobumCounsel/%s'%id|urlencode }}">{{ title }}</a></span>
                        <span class="rightText">{{ usado }}%</span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{#    <div class="row">#}
{#        <div class="card w-100">#}
{#            <h5 class="card-header" id="relatedHeading">#}
{#                <a class="collapsed" data-toggle="collapse" data-target="#related-provision" aria-expanded="false"#}
{#                   aria-controls="related-provision" href="#related-provision">#}
{#                    관련 조항</a>#}
{#            </h5>#}
{#            <div id="related-provision" class="answer-body collapse" aria-labelledby="relatedHeading"#}
{#                 data-parent="#accordionCard">#}
{#                <ul class="list-group list-group-flush">#}
{#                    <li class="list-group-item"><a href="#">7조 1항</a></li>#}
{##}
{#                    <li class="list-group-item"><a href="#">8조 2항</a></li>#}
{##}
{#                    <li class="list-group-item"><a href="#">15조 8항</a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</div>
