<div id="qna_section">
    <div id="q_section">
        {% for result in result %}
            <div class="title">
                <b class="realTime">Q</b>{{ result.title }}
            </div>
            <div class="row">
                <div class="col-sm-6">대분류 : {{ result.big_cate }}</div>
                <div class="col-sm-6">작성일 : {{ result.question_date|safe }}</div>
            </div>
            <div class="contents">
                {{ result.question }}
            </div>
    </div>
    <hr>
    <div id="a_section">
        <div class="title">
            <b class="realTime" id="aTime">A</b>답변
        </div>
        <div class="contents">
            {{ result.answer|safe }}
        {% endfor %}
        </div>
    </div>
</div>