<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Title</title>
</head>

<body>
    <div class="container-fluid">
        <div id="qna_section">
            <div id="q_section">
                <div class="title"><b style="margin-right:8px">Q</b> 정관상에 있는 이사수에 대하여</div>
                <div class="contents">
                    저희 회사 정관에는 2) 이 회사는 필요에 따라 이사회의 결의로 국내외지점을 둘 수 있다. 단, 이사가 2인일 경우에는 이사회제도가 폐지됨에 따라 주주총회의 결의로 지점을 둘수 있다.
                    이렇게 되어 있습니다. 그럼 지금 이사가 2명인데 이사회를 할수 있나요? 이사가 2명일 경우 이사회제도가 폐지됨.. 이건 그 사건 즉 지점을 설치는 부분에 대한 건가요?
                </div>
            </div>
            <hr>
            <div id="a_section">
                <div class="title"><b style="color:red;margin-right:8px">A</b>이사가 2명인 경우에는 그 수가 이사회 최소 구성원수인 3인보다 적어 이사회를 할 수 없을 것입니다. 또한 “이사가 2명일 경우 이사회제도가 폐지됨”은 정관상 지점의 설치에 관련된 부분으로 보이나, 정관의 다른 조항과도 관련될 수 있습니다. </div>
                <div class="contents">
                    1. 질의 사안의 정리

질문자께서는 이사가 2명인 경우 이사회를 할 수 있는지, 정관상 “이사가 2인일 경우에는 이사회제도가 폐지됨”이라는 부분이 지점의 설치에만 해당하는지 여부를 질의하신 것으로 보입니다. 상법상 자본금 총액 10억원 미만인 소규모 회사의 경우 이사를 1인 또는 2인으로 할 수 있으므로 사안의 회사는 소규모 회사인 것으로 가정하고 사안을 검토합니다.
                </div>
            </div>
        </div>
    </div>
</body>
</html>