<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ISAC 관련 상담 조회</title>
</head>

<body>
    {% include 'menu.html' %}

        <div class="basic_container">

        <div>
            <h1>관련 상담 조회</h1>
        </div>
                <div class="row">
                <div class="col-sm-2 offset-sm-8 sticky-top">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-dark">Menu</li>
                        <a href="#" class="list-group-item">first mobum answer</a>
                        <a href="#" class="list-group-item">Second mobum answer</a>
                        <a href="#" class="list-group-item">Third mobum answer</a>
                        <a href="#" class="list-group-item">Fourth mobum answer</a>
                        <a href="#" class="list-group-item">Fifth mobum answer</a>
                    </ul>
                </div>
                </div>
        </div>

        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>