<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ISAC 관련 상담 조회</title>
</head>

<body  style="background-image: url('/static/img/newww.jpg')">
    <nav class="navbar navbar-expand-sm fixed-top text-uppercase" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">ISAC</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                Menu<i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-auto">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/rightnow">실시간 상담</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/relation">관련 상담조회</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/custom">고객센터</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="container-fluid">

        <div class="container">
            <h1>관련 상담 조회</h1>
        </div>
                <div class="row">
                <div class="col-sm-2 offset-sm-8 sticky-top">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-dark">Menu</li>
                        <a href="#" class="list-group-item">first mobum answer</a>
                        <a href="#" class="list-group-item">Second mobum answer</a>
                        <a href="#" class="list-group-item">Third mobum answer</a>
                        <a href="#" class="list-group-item">Fourth mobum answer</a>
                        <a href="#" class="list-group-item">Fifth mobum answer</a>
                    </ul>
                </div>
                </div>
        </div>

        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>

</html>