<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ISAC 실시간 상담 조회</title>
</head>

<body  style="background-image: url('/static/img/newww.jpg')">
    {% include 'menu.html' %}

    <div class="container" style="position:relative;margin-top:2rem">
        <div class="row">
            <div class="col-lg-8" >
                {% include 'qna.html' %}
            </div>
            <div class="col-lg-4">
                {% include 'mobum.html' %}
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>

</html>