<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ISAC 실시간 상담 조회</title>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
{% include 'menu.html' %}

<div class="form-row">
    <div class="form-group col-sm-3">
        {% if result %}
            <label for="Upjong">업종</label>
            <select class="form-control" id="Upjong" name="Upjong" >
                <option selected>전체</option>
{#                {% for row in result %}#}
{#                    <option value="{{ row.category_name }}">{{ row.category_name }}</option>#}
{#                {% endfor %}#}
            </select>
        {% endif %}
    </div>
    <div class="form-group col-sm-3">
        {% if result %}
            <label for="Trouble1">분쟁유형1</label>
            <select class="form-control" id="Trouble1" name="Trouble1" >
                <option selected>전체</option>
{#                {% for row in result %}#}
{#                    <option value="{{ row.category_name }}">{{ row.category_name }}</option>#}
{#                {% endfor %}#}
            </select>
        {% endif %}
    </div>
</div>

<div class="container tableSection" style="position:relative;margin-top:2rem">
    {% if result %}
        <table id="employees" style="width:100%">
            <tbody>

            <tr>
                <th>업종</th>
                {#            <th>분쟁유형 1</th>#}
                {#            <th>분쟁유형 2</th>#}
                {#            <th>제목</th>#}
            </tr>
            {% for row in result %}
                <tr>
                    <td> {{ row.category_name }}</td>
                    {#            <td> {{ row.type_1 }}</td>#}
                    {#            <td> {{ row.type_2 }}</td>#}
                    {#            <td> {{ row.title }}</td>#}

                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Bootstrap JS -->
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/changeCate.js') }}"></script>
</body>

</html>